<%= form_for(@solvent) do |f| %>
  <% if @solvent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solvent.errors.count, "error") %> prohibited this solvent from being saved:</h2>

      <ul>
      <% @solvent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sequence %><br>
    <%= f.number_field :biosequence_id %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.number_field :position %>
  </div>
  <div class="field">
    <%= f.label :accessibility %><br>
    <%= f.text_field :accessibility %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
