<h1>Events</h1>

<table cellpadding="2" class="display dataTable" id="example">
  <thead>
    <tr>
      <th>Activity</th>
      <th>Type</th>
      <th>Name</th>
      <th>Start time</th>
      <th>End time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ievents.each do |event| %>
      <tr>
        <td><%= event.activity_id %></td>
        <td><%= @itypes_hash[event.itype_id].name if ! event.itype_id.nil? %></td>
        <td><%= event.name %></td>
        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_ievent_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_ievent_path %>
