<%= form_for(@group_activity) do |f| %>
  <% if @group_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_activity.errors.count, "error") %> prohibited this group_activity from being saved:</h2>

      <ul>
      <% @group_activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_id %><br>
    <%= f.number_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :activity_id %><br>
    <%= f.number_field :activity_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
