<%= form_for(@drug_reaction) do |f| %>
  <% if @drug_reaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drug_reaction.errors.count, "error") %> prohibited this drug_reaction from being saved:</h2>

      <ul>
      <% @drug_reaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :drug_id %><br>
    <%= f.number_field :drug_id %>
  </div>
  <div class="field">
    <%= f.label :pathway_id %><br>
    <%= f.number_field :pathway_id %>
  </div>
  <div class="field">
    <%= f.label :reaction_id %><br>
    <%= f.number_field :reaction_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
