<%= form_for(@prescription) do |f| %>
  <% if @prescription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prescription.errors.count, "error") %> prohibited this prescription from being saved:</h2>

      <ul>
      <% @prescription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <thead />
  <tbody>
    <tr>
  <div class="field">
    <td><%= f.label :drug_id %></td>
    <td><%= f.collection_select(:drug_id, @drugs, :id, :name) %></td>
  </div>
    </tr><tr>
  <div class="field">
    <td><%= f.label :dose %></td>
    <td><%= f.text_field :dose %></td>
  </div>
  <div class="field">
    <td><%= f.label :unit_it %></td>
    <td><%= f.collection_select(:unit_it, @units, :id, :name) %></td>
  </div>
    </tr><tr>
  <div class="field">
    <td><%= f.label :daily %></td>
    <td><%= f.text_field :daily %></td>
  </div>
    </tr><tr>
  <div class="field">
    <td><%= f.label :start_time %></td>
    <td><%= f.date_select :start_time %></td>
  </div>
    </tr><tr>
  <div class="field">
    <td><%= f.label :end_time %></td>
    <td><%= f.date_select :end_time %></td>
  </div>
    </tr>
</table>
<br />
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
