<h1>Panels</h1>

<table cellpadding="2" class="display dataTable" id="example">
  <thead>
    <tr>
      <th>Attachment</th>
      <th>Type</th>
      <th>Start time</th>
      <th>End time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @panels.each do |panel| %>
      <tr>
        <td><%= panel.attachment_id %></td>
        <td><%= @itypes_hash[panel.itype_id].name if ! panel.itype_id.nil? %></td>
        <td><%= panel.start_time %></td>
        <td><%= panel.end_time %></td>
        <td><%= link_to 'Show', panel %></td>
        <td><%= link_to 'Edit', edit_panel_path(panel) %></td>
        <td><%= link_to 'Destroy', panel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Panel', new_panel_path %>
