<%= form_for(@effect) do |f| %>
  <% if @effect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@effect.errors.count, "error") %> prohibited this effect from being saved:</h2>

      <ul>
      <% @effect.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :biosequence_id %><br>
    <%= f.number_field :biosequence_id %>
  </div>
  <div class="field">
    <%= f.label :variant_id %><br>
    <%= f.number_field :variant_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :impact %><br>
    <%= f.text_field :impact %>
  </div>
  <div class="field">
    <%= f.label :function_class %><br>
    <%= f.text_field :function_class %>
  </div>
  <div class="field">
    <%= f.label :codon_change %><br>
    <%= f.text_field :codon_change %>
  </div>
  <div class="field">
    <%= f.label :aa_change %><br>
    <%= f.text_field :aa_change %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
