<p id="notice"><%= notice %></p>

<p>
  <strong>Biosequence:</strong>
  <%= @variant.biosequence_id %>
</p>

<p>
  <strong>Disease:</strong>
  <%= @variant.disease_id %>
</p>

<p>
  <strong>Sequence type:</strong>
  <%= @variant.sequence_type %>
</p>

<p>
  <strong>Mutation:</strong>
  <%= @variant.mutation %>
</p>

<p>
  <strong>Mutation type:</strong>
  <%= @variant.mutation_type %>
</p>

<p>
  <strong>Sequence start:</strong>
  <%= @variant.sequence_start %>
</p>

<p>
  <strong>Sequence end:</strong>
  <%= @variant.sequence_end %>
</p>

<%= link_to 'Back', variants_path %>
