<h1>Food</h1>

<table cellpadding="2" class="display dataTable" id="example">
  <thead>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Calories</th>
      <th>Protein</th>
      <th>Fats</th>
      <th>Saturated Fats</th>
      <th>Cholesterol</th>
      <th>Weight</th>
      <th>Amount</th>
      <th>Units</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= @itypes_hash[food.itype_id].name if ! food.itype_id.nil? %></td>
        <td><%= food.name %></td>
        <td><%= food.calories %></td>
        <td><%= food.protein %></td>
        <td><%= food.fats %></td>
        <td><%= food.saturated_fat %></td>
        <td><%= food.cholesterol %></td>
        <td><%= food.weight %></td>
        <td><%= food.amount %></td>
        <td><%= @units_hash[food.unit_id].name if ! food.unit_id.nil? %></td>
        <td><%= link_to 'Edit', edit_food_path(food) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= form_for @food do |f| 
  f.autocomplete_field :name, autocomplete_food_name_foods_path
  end %>
  
<br />
<%= link_to 'New Food', new_food_path %>
