<%= form_for(@locus) do |f| %>
  <% if @locus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@locus.errors.count, "error") %> prohibited this locus from being saved:</h2>

      <ul>
      <% @locus.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type_id %><br>
    <%= f.collection_select(:itype_id, @itypes, :id, :name, {:include_blank => "No type"}) %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :chromosome %><br>
    <%= f.text_field :chromosome %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.number_field :position %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
