<h1>MSAs</h1>

<table cellpadding="2" class="display dataTable" id="example">
  <thead>
    <tr>
      <th>Gene</th>
      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
      <th>Msa type</th>
      <th>Updated at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @msas.each do |msa| %>
      <tr>
        <td><%= msa.gene_id %></td>
        <td><%= msa.name %></td>
        <td><%= msa.category %></td>
        <td><%= msa.description %></td>
        <td><%= msa.msa_type %></td>
        <td><%= msa.updated_at %></td>
        <td><%= link_to 'Show', msa %></td>
        <td><%= link_to 'Edit', edit_msa_path(msa) %></td>
        <td><%= link_to 'Destroy', msa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Msa', new_msa_path %>
