<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @image.name %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @activity.activity_name if @ @activity.nil? %>
</p>

<p>
  <strong>Image type:</strong>
  <%= @image.image_type %>
</p>

<p>
  <strong>Created at:</strong>
  <%= local_time(@image.created_at) %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
