<h1>Conservations</h1>

<table cellpadding="2" class="display dataTable" id="example">
  <thead>
    <tr>
      <th>Biosequence</th>
      <th>Position</th>
      <th>Level</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @conservations.each do |conservation| %>
      <tr>
        <td><%= conservation.biosequence_id %></td>
        <td><%= conservation.position %></td>
        <td><%= conservation.level %></td>
        <td><%= link_to 'Show', conservation %></td>
        <td><%= link_to 'Edit', edit_conservation_path(conservation) %></td>
        <td><%= link_to 'Destroy', conservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conservation', new_conservation_path %>
